<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__brand">
      <a routerLink="/" class="navbar__logo">🍽️ {{ 'app.title' | localize }}</a>
    </div>

    <nav class="navbar__links">

      @if(showNav()){
        <a
          routerLink="/dishes"
          routerLinkActive="active"
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ 'nav.dishes' | localize }}
        </a>
        <a
          routerLink="/events"
          routerLinkActive="active"
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ 'nav.events' | localize }}
        </a>
        <a class="nav-link" (click)="logout()">{{ 'nav.logout' | localize }}</a>
      }
    </nav>

  
  </div>
</header>
